# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environment
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Large data (optional, uncomment if dataset should not be versioned)
# data/raw/*.csv
